<html xmlns:py="http://genshi.edgewall.org/">
    <head>
        <title py:content="message">This is replaced.</title>
            <style type="text/css">
                h1 {
                    color: #0099FF;
                    font-family: 'trebuchet ms', trebuchet, arial, sans-serif;
                    font-size: 72px;
                    text-align: center;
                    margin-top: 24px;
                }
            </style>
    </head>
    <body>
        <h1>
            ${message}
        </h1>
    </body>
</html>
