<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    py:strip="">
	
	<xi:include href="../layouts/layout.html" />
	<xi:include href="../base.html" />

	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
	</head>
	
    <body>
		<form method="${method}" action="${action_url}">
			<div>
				${form.title}
			</div>
			<div>
				${form.body}
			</div>
			<!-- Resource Settings -->
			<ul>
				<li>
					${form.listed}
				</li>
				<li>
					${form.template}
				</li>
			</ul>
		</form>
    </body>
</html>
